*{
background-color:#C3E9EF;
}

h1{
    font-family: ;
}

body{
    text-align: center;
    font-family: "Cabin";
    margin: 3rem;
    
}

 input{
   background-color: #1BCAE9;
   color: black;
   border-width: 2px;
   border-color: antiquewhite;
   width: 250px;
   height: 45px;
   opacity: 0.9;
   border-radius:  1rem; 
}

button{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.7rem;
    border-radius: 100px;
    background-color: #26D598;
    color: white;

}

