*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cal Sans", sans-serif;
     /* tirar linha que fica ao redor dos objetos - outline: none */
     outline: none;
}

body{
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("./img/background.jpg");
    
}


h1{
    font-size:50px;
    text-align: center;
    border-color: black;
    color: #26D598;
    text-shadow: 2px;
    margin: 15px auto 0;
    /* Para ajustar a cor e o tamanho da borda do texto do titulo */
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #0f0f0f; 
}

h6{
    text-align: center;

}

.container{
    background-color: #95bbe6;
    width: 500px;
    border-radius: 12px;
    padding: 10px;
    margin: 50px auto 0;
}

.input-tarefa{
    border: none;
    border-radius: 5px;
    width: 320px;
    height: 28px;
    padding: 0 5px;
}

.botao-adicionar-tarefa{
    border: none;
    border-radius: 5px;
    height: 28px;
    background-color:#26D598;
    color: #0f0f0f;
    padding: 0 15px;
    float: right;
    cursor: pointer;
   
}

/* mudar opacidade quando passar o mouse no botão */
.botao-adicionar-tarefa:hover{
    opacity: 0.8;
   
}

/* para mudar a opacidade quando o botão estiver ativo */
.botao-adicionar-tarefa:active{
    opacity: 0.6;
    
}

#filtro-tarefas{
    padding: 0 15px;
    margin-top: 15px;
    margin: 10px auto 0;
    display: flex;
    border-radius: 7px;
    background-color: rgb(145, 223, 180);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 100;
}
option{
    align-items: center;
}

.listatarefas{
    width:100%;
    /* list-style retira o ponto no inicio da lista */
    list-style: none;
    margin-top: 25px;

}

.lista{
    background-color:antiquewhite;
    /* para dar a sombra ao redor dos itens usei um box-shadow */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
   
}
/* Para ajustar o efeito da opacidade nos icones e deixar uma transição */
svg{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
#check{
    color: #18d35f;

}
#lixeira{
    color:#cf0e0e;
}

/*Para aparecer somente quando passar o mouse os icones de lixeira e concluir */
.lista:hover svg{
    opacity: 1;       
}
.done{
    background-color: #18d35f;
    /* text-decoration: line-through; */
}

